//
.promo__wrapper {
  min-width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}

.promo__subtitle {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @accented-text;
}

.promo__text {
  margin-top: 18px;
  margin-bottom: 0;
}

.promo__product-desc {
  margin-top: 16px;
  margin-bottom: 28px;
}

/* .promo__image {
  margin-top: 28px;
} */

.promo__price-value {
  margin: 25px 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}
