//
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 183px;
}

.copyright__text {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: @menu-text-color;
}
