// Задается раскладка конкретной формы заказа
.order-form__field-group {
  padding-top: 17px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.order-form__field-group--accented {
  background-color: @order-bg-color;
}

.order-form__wrapper {
  min-width: 260px;
  padding: 0 30px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 668px;
    width: 87%;
    padding: 0 50px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1050px;
    padding: 0 50px;
    margin: 0 auto;
  }
}

.order-form__radio-list {
  display: grid;
  row-gap: 11px;

  @media (min-width: @tablet-width) {
    row-gap: 24px;
  }
}

.order-form__checkbox-list {
  display: grid;
  row-gap: 23px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 23px;
    row-gap: 24px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 239px 241px 239px;
    column-gap: 23px;
    row-gap: 24px;
  }
}

.order-form__form-footer {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 53px;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(6, 1fr);
    padding-top: 49px;
    padding-bottom: 50px;
  }
}

.order-form__footer-text {
  @media (min-width: @tablet-width) {
    grid-column-start: 3;
    grid-column-end: -1;
    justify-self: end;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: 6;
    justify-self: end;
  }
}

.order-form__button {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: start;
  }
}
