//
.page-footer {
  background-color: @footer-bg-color;
}
// это всё только под мобилу
.pade-footer__content {
  display: grid;
  grid-template-columns: 1fr;
}

.page-footer__logo {
  display: none;
}

.page-footer__social-list {
  justify-self: center;
}

.page-footer__copyright {
  justify-self: center;
}
