//
.page-content__promo {
  margin-top: 31px;

  @media (min-width: @tablet-width) {
    margin-top: 51px;
    padding-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 71px;
  }
}

.page-content__advantages {
  margin-top: 31px;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 68px;
  }
}

.page-content__review {
  margin-top: 38px;
  padding-bottom: 45px;

  @media (min-width: @tablet-width) {
    margin-top: 57px;
    padding-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 65px;
    padding-bottom: 0;
  }
}

.page-content__contact {
  margin-top: 38px;

  @media (min-width: @desktop-width) {
    width: 1050px;
    padding: 0 50px;
    margin: 0 auto;
    margin-top: 46px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 71px;
    padding-bottom: 98px;
  }
}

// страница формы
.page-content__page-form {
  margin-top: 17px;

  @media (min-width: @tablet-width) {
    margin-top: 66px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 115px;
  }
}

// страница каталога
/* .page-content__catalog {
  margin-top: 30px;
}
 */
.page-content__production-promo {
  /*   margin-top: 30px; */
  margin-bottom: 58px;
}
