//

.production-item {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.production-item__desc {
  margin: 0;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
  }
}

.production-item__card-link {
  text-decoration: none;
}

.production-item__img-wrapper {
  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.production-item__content-wrapper {
  box-sizing: border-box;
  padding: 27px 27px 0 28px;
  border: 1px solid @catalog-card-border;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    flex-grow: 1;
  }
}

.production-item__title {
  width: 100%;
}

.production-item__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: @price-text-color;

  @media (min-width: @tablet-width) {
    font-size: 17px;
  }
}

.production-item__order {
  width: 100%;
  outline: 1px solid darkgreen;
  margin: 0 auto;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.production-item__add-cart {
  background-color: transparent;
  border: none;
}

.production-item__img-body {
  display: block;
}
