//
.product-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: @menu-invert-color;
}

.product-list__item {
  padding-left: 30px;
}

.product-list__item--interior {
  background-color: @product-list-bg1;
}

.product-list__item--toys {
  background-color: @product-list-bg2;
}

.product-list__link {
  color: inherit;
  text-decoration: none;
}
