//
.production-item {
  display: flex;
  flex-direction: column;
}

.production-item__desc {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
}

.production-item__card-link {
  text-decoration: none;
}

.production-item__content-wrapper {
  padding: 0 28px;
}

.production-item__price {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @price-text-color;
}

.production-item__add-cart {
  background-color: transparent;
  border: none;
}
