//

.production-item {
  display: flex;
  flex-direction: column;


  @media (min-width: @tablet-width) {
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production-item__img {
  width: 100%;
  height: 100%;
  //object-fit: cover;
  /* outline: 1px solid green; */
}

.production-item__desc {
  margin: 0;
  margin-top: 6px;
  padding-bottom: 18px;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    font-size: 15px;
    margin-top: 7px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 10px;
  }
}

.production-item__card-link {
  display: block;
  text-decoration: none;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  /* outline: 1px solid blue; */

  /*  &:hover + .production-item__content-wrapper {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active + .production-item__content-wrapper {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  } */

  &--title:hover {
    opacity: 0.6;
  }

  &--title:active {
    opacity: 0.3;
  }
}

.production-item__img-wrapper {
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 50%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.production-item__content-wrapper {
  box-sizing: border-box;
  /*   margin-top: 25px; */
  padding: 26px 20px 0 28px;
  border: 1px solid @catalog-card-border;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 31px;
    padding-right: 23px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    flex-grow: 1;
    padding-left: 28px;
  }
}
/*   &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:focus-within {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  } */


.production-item__title {
  width: 100%;
}

.production-item__price {
  margin-top: 22px;
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: @price-text-color;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    margin-top: 24px;
    margin-bottom: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 26px;
    margin-bottom: 23px;
  }
}

.production-item__order {
  width: 100%;
  margin: 0 auto;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid @catalog-card-border;
}

.production-item__add-cart {
  background-color: transparent;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
}

.production-item__add-cart-icon {
  opacity: 0.2;
}

.production-item__add-cart:hover .production-item__add-cart-icon {
  fill: @card-icon-active;
  opacity: 1;
}

.production-item__add-cart:active .production-item__add-cart-icon {
  fill: @card-icon-active;
  opacity: 0.3;
}

.production-item__img-body {
  display: block;
}
