//
.title-size (@font-size: 25px,
  @line-height: 30px) {
  font-size: @font-size;
  line-height: @line-height;
}

.section-title {
  margin: 0;
  font-weight: bold;
  .title-size ();
  color: @menu-text-color;

  @media (min-width: @tablet-width) {
    .title-size (43px, 50px);
  }

  @media (min-width: @desktop-width) {
    .title-size (53px, 57px);
  }
}

.section-title--main {
  .title-size (27px, 30px);

  @media (min-width: @tablet-width) {
    .title-size (43px, 50px);
  }

  @media (min-width: @desktop-width) {
    .title-size (53px, 57px);
  }
}

.section-title--h3 {
  .title-size (17px, 24px);
}
