// Задает раскладку секции с формой
.order-section__wrapper {
  min-width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}

.order-section__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
}
